/* ipad pro and other */
@media only screen and (max-width:1024px){
    #navbar{
        height: 280px;
        display: flex;
        flex-direction: column;
        transition: all 0.6s ease-out;
        align-items: center;
    }
    
    #navbar ul{
        display: flex;
        flex-direction: column;
        
    }
    #navbar img{
      margin-left: 0;
    }
    .right-nav{
        margin: 0;
    }
 .container{
    display: flex;
    flex-direction: column;
 }
 .container .left{
    padding-left: 0;
    text-align: center;
    width: 100%;
 }
 .container .right{
     padding: 0;
     text-align: center;
 }
 .logo img{
     padding: 10px 30px;
 }
 .container3 img{
     padding-top: 25px;
 }
 .logo{
    height: 130px;
}
   
}


/* ipad */
@media only screen and (max-width:770px){
    .container3{
        padding-top: 20px;
    }
    .logo img{
        padding: 10px 15px;
    }
    .logo{
        height: 110px;
    }
}

@media only screen and (max-width:680px){
  .container .right {
       display: none
  }

  .container .left{
      padding-bottom: 100px;
  }
  .container2{
      height: 500px;
  }
  .container3 img{
      width: 100%;
  }
.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container4 .left{
    width: 70%;
    text-align: center;
}
.container4 .left img{
  width: 70%;
}
  .container5{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

  }
  .container5 .right{
      width: 70%;
      
}
  .container5 .right img{
      width: 100%;
}
  .container6{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container6 .left{
    width: 70%;
}
.container6 .left img{
  width: 100%;
}
.container7{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.container7 .right{
    width: 70%;
}
.container7 .right img{
    width: 100%;
}
  .container8{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .container8 .left{
      width: 70%;
  }
  .container8 .left img{
    width: 100%;
}

.logo{
    height: 200px;
}

}


@media only screen and (max-width:480px){
  .logo{
      padding-top: 40px;
  }
  .container9{
      height: 250px;
  }
  .container3{
      padding-top: 50px;
  }
}

/* iphone */
@media only screen and (max-width:414px){
    .logo{
        padding-left: 30px;
    }
    .container2{
        height: 540px;
    }
}