@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
    
}

#navbar{
     overflow: hidden;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    
}
#navbar li{
    list-style: none;
    padding: 12px ;
}
#navbar li:hover{
    background-color: rgb(179, 255, 221);
    cursor: pointer;
}
#navbar img{
    margin-left: 7% ;
}
.right-nav{
    float: right;
    margin: 25px 7%;
}
p{
    padding: 7px 0;
}
h4{
    margin-top:25px;
    margin-bottom: 8px;
}
.container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.container .left{
    width: 45%;
    padding: 7%;
}
.container .right{
  padding-left: 50px;
}
.input input{
    border: 1px solid grey;
    border-radius: 2px;
    width: 170px;
    height: 30px;
}
.input button{
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(66, 212, 154);
    width: 80px;
    height: 30px;
}

.container2{
    background-color: rgb(179, 255, 221);
    height: 400px;
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
hr{
    height: 3px;
    background-color: rgb(5, 173, 145);
}
.hr{
    padding-top: 80px;
    padding-bottom:20px ;
}
 .container2 .p{
    width: 45%;
    font-size: 1.1rem;
    padding-top: 10px;
    
}
.container3{
    margin-top: -145px;
    text-align: center;
}
.container4{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
.container4 .left {
    margin:9% ;
    width: 40%;
}
.container4 .right{
    width: 50%;
    height: 500px;
    margin: 9%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
.container5{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.container5 .right{
    margin-right:9% ;
    width: 50%;
    padding-top: 150px;
    
    
 }
 .container5 .left{
     width: 50%;
     height: 500px;
     margin: 9%;
     
     display: flex;
     flex-direction: column;
     padding-top: 70px;
    }

    .container6{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
.container6 .left {
   margin:9% ;
   width: 40%;
   
}
.container6 .right{
    width: 50%;
    height: 500px;
    /* float: right; */
    margin: 9%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.container7{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.container7 .right{
    margin-right:9% ;
    width: 50%;
    padding-top: 150px;
 }
 .container7 .left{
     width: 50%;
     height: 500px;
     margin: 9%;
     display: flex;
     flex-direction: column;
     padding-top: 70px;
 }
 .container8{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.container8 .left {
    margin:9% ;
    width: 40%;
}
.container8 .right{
    width: 50%;
    height: 500px;
    
    margin: 9%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
.container9{
    height: 200px;
    background-color: rgb(77, 76, 76);
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
    color: honeydew;
}

.container9 p{
    padding-top: 18px;
    width: 40%;
    text-align: center;
}
.container9 .input{
    padding: 20px;
    height: 2rem;
}

.logo{
    height: 200px;
    background-color: rgb(77, 76, 76);
    padding-left: 70px;
}
.logo img{
  padding: 10px 50px;
  border: 1px solid rgb(77, 76, 76);
  border-radius: 50%;
}
.footer{
    height: 85px;
    padding-left: 60px;
}


